@import './base.css';

#app, html, body {
  height: 100%;
}

#app{
  .app-wrapper{
    position: relative;
    height: 100%;
    width: 100%;
  }
  .el-scrollbar__view{
    transition: .1s;
  }
  .sidebar-container{
    -webkit-transition: width .28s;
    transition: width .28s;
    width: 210px!important;
    background-color: #304156;
    height: 100%;
    position: fixed;
    font-size: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;
    .scrollbar-wrapper {
      overflow-x: hidden!important;
    }
    .el-menu {
      border: none;
      height: 100%;
      width: 100%!important;
    }
  }
  .hideSidebar {
    .sidebar-container {
    width: 54px!important;
    }
    .main-container {
      margin-left: 54px;
    }
  }
  .main-container {
    min-height: 100%;
    -webkit-transition: margin-left .28s;
    transition: margin-left .28s;
    margin-left: 210px;
    position: relative;
  }
}
.login-container{
  min-height: 100%;
  width: 100%;
  /* background-color: #2d3a4b; */
  overflow: hidden;
  .login-form {
    position: relative;
    width: 520px;
    max-width: 100%;
    padding: 160px 35px 0;
    margin: 0 auto;
    overflow: hidden;
  }
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {

  #app {
  }
}
